@mixin flexbox($direction, $wrap: nowrap, $main: flex-start, $cross: stretch) {
  display: flex;
  flex-flow: $direction $wrap;
  justify-content: $main;
  align-items: $cross;
}

@mixin squareSize($size) {
  height: $size;
  width: $size;
}
